extends ../layout.pug

block main
  +b('splash')
    +e('splash', 'title', 'h1')= "Counterfeit"

    h2.is-hidden Description
    +e('splash', 'description', 'p')
      | Creative Services (NA) <span class="typography-chinese">創意服務</span>&nbsp;(APAC) <br>Montreal, Vancouver &ndash; Canada

    +e('splash', 'clock').js-clock
      +e('splash', 'date').js-clock-date
      +e('splash', 'date').js-clock-time

    +e('splash', 'links', 'nav')
      h2.is-hidden Links
      +e('splash', 'links-list', 'ul')
        +e('splash', 'links-list-item', 'li')
          a(href='https://www.instagram.com/counterfeit.work/') Instagram
        +e('splash', 'links-list-item', 'li')
          a(href='mailto:info@counterfeit.work') Mail

    +e('splash', 'logos').js-logos
      +e('splash', 'logos-group').js-logos-group
        - let i = 1;
        while i <= 9
          +e('splash', 'logos-item')(data-num=i class=i === 1 ? "js-logo is-active" : "js-logo")
            //- +svg(1728,840)
            img(inline src=require(`../static/src/images/vectors/inline/logo-${i}.svg`))
            //- img(inline src=require(`../static/src/images/vectors/inline/logo-4.svg`))
          - i++;
