meta(name='google' content='notranslate')
if currentLocaleAlt
  meta(http-equiv="Content-Language" content=currentLocaleAlt)
if url
  meta(property='og:url' content=url.currentFull)
if currentLocale
  meta(property='og:locale' content=currentLocale)

if page
  each language in languages
    if language.localeAlt !== currentLocaleAlt && page[`title_${language.code}`]
      meta(property='og:locale:alternate' content=language.locale)

  each language in languages
    if language.localeAlt !== currentLocaleAlt && page[`title_${language.code}`]
      - const langUrl = (isHomePage) ? setUrl([url.domain, language.code]) : url.lang[language.code]
      link(rel='alternate' hreflang=language.code href=langUrl)

  if page[`seo_meta_author_${currentLangCode}`]
    meta(name='author' content=decodeHtml(prettify(page[`seo_meta_author_${currentLangCode}`])))
    | #{''}
  if page[`seo_meta_desc_${currentLangCode}`]
    meta(name='description' content=decodeHtml(prettify(page[`seo_meta_desc_${currentLangCode}`])))
    | #{''}
  if page[`seo_meta_og_title_${currentLangCode}`]
    meta(property='og:title' content=decodeHtml(prettify(page[`seo_meta_og_title_${currentLangCode}`])))
    | #{''}
  if page[`seo_meta_og_type_${currentLangCode}`]
    meta(property='og:type' content=decodeHtml(prettify(page[`seo_meta_og_type_${currentLangCode}`])))
    | #{''}
  if page[`seo_meta_og_image_${currentLangCode}`]
    meta(property='og:image' content=decodeHtml(page[`seo_meta_og_image_${currentLangCode}`]))
    | #{''}
  if page[`seo_meta_og_video_${currentLangCode}`]
    meta(property='og:video' content=decodeHtml(page[`seo_meta_og_video_${currentLangCode}`]))
    | #{''}
  | #{'\n'}

else if options && options.seo
  each language in languages
    if language.localeAlt !== currentLocaleAlt
      meta(property='og:locale:alternate' content=language.locale)

  each language in languages
    if language.localeAlt !== currentLocaleAlt
      - var langUrl = (isHomePage) ? setUrl([url.domain, language.code]) : url.lang[language.code]
      link(rel='alternate' hreflang=language.code href=langUrl)

  if options.seo.meta_author
    meta(name='author' content=decodeHtml(prettify(options.seo.meta_author)))
    | #{''}
  if options.seo.meta_desc
    meta(name='description' content=decodeHtml(prettify(options.seo.meta_desc)))
    | #{''}
  if options.seo.meta_og_title
    meta(property='og:title' content=decodeHtml(prettify(options.seo.meta_og_title)))
    | #{''}
  if options.seo.meta_og_type
    meta(property='og:type' content=options.seo.meta_og_type)
    | #{''}
  if options.seo.meta_og_image
    meta(property='og:image' content=options.seo.meta_og_image)
    | #{''}
  if options.seo.meta_og_video
    meta(property='og:video' content=options.seo.meta_og_video)
    | #{''}
  | #{'\n'}

if getTitleTag
  title!= getTitleTag()
  | #{''}